APP_NAME=Smile AI
APP_ENV=production
APP_DEBUG=false
APP_URL=https://your-backend-domain.com
FRONTEND_URL=https://your-frontend-domain.com
INVOICE_PREFIX=INV

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TIMEOUT=2.5
REDIS_DATABASE=0

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_ENCRYPTION=ssl
MAIL_FROM_NAME="Smile AI"

OTP_TTL=300
OTP_LENGTH=6
JWT_SECRET=
JWT_TTL=86400
JWT_ISSUER=

GOOGLE_CLIENT_ID=

ACCOUNT_CIPHER_KEY=
PAYMENT_TRANSFER_PREFIX=SEVQR-SMILE XIN CAM ON
BANK_BIN=
BANK_ACCOUNT_NUMBER=
BANK_ACCOUNT_NAME=

VIETQR_TEMPLATE=compact2
VIETQR_BASE_URL=https://img.vietqr.io/image
VIETQR_CLIENT_ID=
VIETQR_API_KEY=

SEPAY_API_KEY=
CASSO_WEBHOOK_SECRET=
